@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Imports */
@import "elements/screen", "elements/nonagon", "elements/top-buttons", "elements/d-pad", "elements/long-buttons",
    "elements/sticks", "shapes/rectangles", "util/base", "elements/pokedex-back", "elements/antenna";

:root {
    // Colors
    --black: #000000;
    --blackhalf: #00000050;
    --blackpurple: #010d36;
    --gray: #313641;
    --gray_darker: #3b3c3e;
    --lightgray: #57595a;

    --whitehalf: #ffffff50;

    --brown65: hsl(0deg, 47%, 55%);
    --brown55: hsl(0deg, 47%, 50%);
    --brown45: hsl(0deg, 47%, 45%);

    // Pokemon type colors
    --normal: #a8a878;
    --psychic: #f85888;
    --fire: #f08030;
    --ice: #98d8d8;
    --electric: #f8d030;
    --grass: #78c850;
    --dark: #3d2c22;
    --water: #6890f0;
    --fairy: #ca7889;

    // Background
    --bg-gray-border: linear-gradient(var(--gray), var(--gray)) padding-box,
        linear-gradient(to right, var(--lightgray), var(--gray_darker)) border-box;

    // Box Shadows
    --bg-dark-shadow: 0 0 0.125em 0.125em var(--black);
    --inset-dark-shadow: inset 0 0 0.25em 0.25em var(--blackhalf);
    --inset-dark-shadow-big: inset 0 0 1em 1em var(--blackhalf);
    --dark-shadow-combined: var(--bg-dark-shadow), var(--inset-dark-shadow);
    --rectangle-bottom-shadow: inset 0 -0.625em 0.625em -0.625em var(--black);
    --clicked-box-shadow1: inset 0 0.25em 0.25em 0 var(--whitehalf);
    --clicked-box-shadow2: inset 0 -0.25em 0.25em 0 var(--blackhalf);

    // Ratio
    --BREEDTE-RATIO: 1.4;

    --DIEPTE-RATIO: 10;
    --DIEPTE-RATIO2: calc(var(--DIEPTE-RATIO) * 0.7);
    --DIEPTE-RATIO3: calc(var(--DIEPTE-RATIO) * 0.5);

    // Hoogte
    --hoogte: calc(100vh / 4.685);
    --hoogte2: calc(var(--hoogte) * 1.2);
    --hoogte3: calc(var(--hoogte) * 0.33);
    --hoogte4: calc(var(--hoogte) * 0.7);

    // Lengte
    --breedte: calc(var(--hoogte) * var(--BREEDTE-RATIO));

    // Breedte
    --diepte: calc(var(--hoogte) / var(--DIEPTE-RATIO));
    --diepte2: calc(var(--hoogte) / var(--DIEPTE-RATIO2));
    --diepte3: calc(var(--hoogte) / var(--DIEPTE-RATIO3));

    // Connectors
    --hoogte-connector: calc(var(--hoogte2) / 2);
    --diepte-connector: calc(var(--diepte2) / 2);
    --breedte-connector: var(--diepte-connector);

    --breedte-connector2: calc(var(--breedte) / 2);
    --diepte-connector2: calc(var(--diepte) / 2);
    --hoogte-connector2: var(--diepte-connector2);

    --perspective-size: calc(var(--hoogte) * 3);

    // Fonts
    --sans: "Inter", Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var(--sans);
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;

    &::before {
        transition: 0.7s;
        content: "";
        height: 80vh;
        aspect-ratio: 1/1;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        filter: blur(6em);
        opacity: 0.8;
    }

    &.normal {
        &::before {
            background-color: var(--normal);
        }
    }

    &.water {
        &::before {
            background-color: var(--water);
        }
    }

    &.electric {
        &::before {
            background-color: var(--electric);
        }
    }

    &.fire {
        &::before {
            background-color: var(--fire);
        }
    }

    &.psychic {
        &::before {
            background-color: var(--psychic);
        }
    }

    &.dark {
        &::before {
            background-color: var(--dark);
        }
    }

    &.grass {
        &::before {
            background-color: var(--grass);
        }
    }

    &.ice {
        &::before {
            background-color: var(--ice);
        }
    }

    &.fairy {
        &::before {
            background-color: var(--fairy);
        }
    }
}

button:not([disabled]) {
    cursor: pointer;
}

figure {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

main {
    height: calc(var(--hoogte4) + var(--hoogte2) + var(--hoogte3));
    width: var(--breedte);

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    perspective: var(--perspective-size);
}

article {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transform: rotate3d(1, 1, 1, 360deg);
    background-color: #dc0a2d;
    animation: rotate 2s linear infinite;

    section {
        transform-style: preserve-3d;
        width: var(--breedte);
    }

    section:nth-of-type(1) {
        height: var(--hoogte2);
    }

    section:nth-of-type(2),
    section:nth-of-type(4) {
        height: var(--hoogte4);
    }

    section:nth-of-type(2) {
        transform: translateZ(calc((var(--diepte2) - var(--diepte)) / 2));
    }

    section:nth-of-type(3) {
        height: var(--hoogte3);
        transform: translateZ(calc((var(--diepte3) - var(--diepte)) / 2));
    }

    section:nth-of-type(4) {
        cursor: pointer;
    }

    section:nth-of-type(5) {
        height: var(--hoogte2);
        cursor: pointer;
    }
}

// @keyframes rotate {
//     0% {
//       transform: rotate3d(0, 0, 0, 0deg);
//     }

//     100% {
//       transform: rotate3d(1, 1, 1, 360deg);
//     }
//   }
