@charset "UTF-8";

/* Imports */
@import "shapes/base", "shapes/rectangle", "shapes/mid-rectangle", "shapes/bottom-rectangle", "elements/screen", "elements/nonagon", "elements/top-buttons",
"elements/d-pad", "elements/long-buttons", "elements/sticks", "elements/connector", "shapes/right-rectangle", "elements/connector2", "shapes/top-rectangle";

:root {
    --BREEDTE-RATIO: 1.4;

    --DIEPTE-RATIO: 10;
    --DIEPTE-RATIO2: calc(var(--DIEPTE-RATIO) * 0.7);
    --DIEPTE-RATIO3: calc(var(--DIEPTE-RATIO) * 0.5);

    --brown65: hsl(0deg, 47%, 55%);
    --brown55: hsl(0deg, 47%, 50%);
    --brown45: hsl(0deg, 47%, 45%);

    --hoogte: 12.5em;
    --hoogte2: 15em;
    --hoogte3: calc((var(--hoogte)) / 3);
    --hoogte4: 10.5em;

    --breedte: calc(var(--hoogte) * var(--BREEDTE-RATIO));

    --diepte: calc(var(--hoogte) / var(--DIEPTE-RATIO));
    --diepte2: calc(var(--hoogte) / var(--DIEPTE-RATIO2));
    --diepte3: calc(var(--hoogte) / var(--DIEPTE-RATIO3));

    --hoogte-connector: calc(var(--hoogte2) / 2);
    --diepte-connector: calc(var(--diepte2) / 2);
    --breedte-connector : var(--diepte-connector);

    --breedte-connector2: calc(var(var(--breedte)) / 2)
    --diepte-connector2: calc(var(--diepte) / 2);
    --hoogte-connector2: var(--diepte-connector2);

    --perspective-size: 150em;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main {
    width: var(--breedte);
    height: 27.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 37.5em;
}

article {
    perspective: var(--perspective-size);
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 360deg);
    width: var(--breedte);
    height: calc(var(--hoogte4) + var(--hoogte2) + var(--hoogte3));
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top right, #9f3a3a, #b46969, #a64747, #9f3a3a);
    animation: rotate 2s linear infinite;

    section {
        transform-style: preserve-3d;
        width: var(--breedte);
    }

    section:nth-of-type(1) {
        height: var(--hoogte2);
    }

    section:nth-of-type(2), section:nth-of-type(4) {
        height: var(--hoogte4);
    }

    section:nth-of-type(2) {
        transform: translateZ(calc((var(--diepte2) - var(--diepte)) / 2));
    }

    section:nth-of-type(3) {
        height: var(--hoogte3);
        transform: translateZ(calc((var(--diepte3) - var(--diepte)) / 2));
    }

    section:nth-of-type(5) {
        height: var(--hoogte2);
    }
}

// @keyframes rotate {
//     0% {
//       transform: rotate3d(0, 0, 0, 0deg);
//     }

//     100% {
//       transform: rotate3d(1, 1, 1, 360deg);
//     }
//   }