article > section {
    &:not(:last-of-type) > ol > li:first-of-type {
        box-shadow: var(--rectangle-bottom-shadow);
    }
        
    & > ol {
        position: relative;
        transform-style: preserve-3d;
    }
}
