@mixin Rechthoek($breedte, $diepte, $hoogte) {
    width: $breedte;
    height: $hoogte;

    & > li {
        position: absolute;
        background-color: var(--pokedex-color);
        transform-style: preserve-3d;

        // Voor- en achtervlak
        &:nth-of-type(1),
        &:nth-of-type(3) {
            height: $hoogte;
            width: $breedte;
        }

        // Boven- en ondervlak
        &:nth-of-type(2),
        &:nth-of-type(4) {
            height: $diepte;
            width: $breedte;
        }

        &:nth-of-type(5),
        &:nth-of-type(6) {
            height: $hoogte;
            width: $diepte;
        }

        &:nth-of-type(1) {
            transform: rotateY(0deg) translateZ(calc(#{$diepte} / 2));
        }

        &:nth-of-type(2) {
            transform: rotateX(90deg) translateZ(calc(#{$diepte} / 2));
        }

        &:nth-of-type(3) {
            transform: rotateY(180deg) translateZ(calc(#{$diepte} / 2));
        }

        &:nth-of-type(4) {
            transform: rotateX(-90deg) translateZ(calc(#{$hoogte} - #{$diepte} / 2));
        }

        &:nth-of-type(5) {
            transform: rotateY(90deg) translateZ(calc(#{$diepte} / -2));
        }

        &:nth-of-type(6) {
            transform: rotateY(90deg) translateZ(calc(#{$breedte} - #{$diepte} / 2));
        }
    }
}

@mixin Slider($origin, $top) {
    position: absolute;
    display: flex;
    align-items: center;
    transition: 0.75s;
    transform-origin: $origin;
    top: $top;
}

@mixin Dark_BG_Shadow($psuedo-element) {
    @if $psuedo-element {
        content: "";
    }

    background-color: var(--black);
    position: absolute;
    box-shadow: var(--bg-dark-shadow);
    z-index: -1;
}

@mixin Gray_Button($bg-shadow, $active) {
    @if $bg-shadow {
        box-shadow: var(--dark-shadow-combined);
    } @else {
        box-shadow: var(--inset-dark-shadow);
    }

    background: var(--bg-gray-border);
    border: 0.125em solid transparent;
    border-radius: 0.125em;
    transform: translateZ(0.25em);
    transition: 0.35s;

    &:active {
        @if $active {
            @if $bg-shadow {
                box-shadow: var(--dark-shadow-combined), var(--clicked-box-shadow1), var(--clicked-box-shadow2);
            } @else {
                box-shadow: var(--inset-dark-shadow), var(--clicked-box-shadow1), var(--clicked-box-shadow2);
            }
        }
    }
}
