ol {
    width: var(--breedte);
    height: var(--hoogte);
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 2s linear infinite;

    li {
        position: absolute;
        // background: linear-gradient(to top right, #9f3a3a, #b46969, #a64747, #9f3a3a);
        background-color: lightcoral;
        transform-style: preserve-3d;
    }
}

article section:not(:last-of-type) ol > li:first-of-type {
    box-shadow: inset 0 -10px 10px -10px #000000;
}
