@import "../util/mixins";

article {
    & > section {
        &:nth-of-type(1) {
            & > ol:nth-of-type(1) {
                @include Rechthoek(var(--breedte), var(--diepte), var(--hoogte2));
            }
        }

        &:nth-of-type(2) {
            & > ol {
                @include Rechthoek(var(--breedte), var(--diepte2), var(--hoogte4));

                & > li:nth-of-type(1) {
                    padding: 1.25rem;
                }
            }
        }

        &:nth-of-type(3) {
            & > ol {
                @include Rechthoek(var(--breedte), var(--diepte3), var(--hoogte3));
            }
        }

        &:nth-of-type(4) {
            @include Slider(left, var(--hoogte2));

            transform: translateZ(0.983em) translateX(calc(100% + 0.85em)) rotate3d(0, 1, 0, -180deg);
            transition: .5s ease-in-out;

            &.open {
                transform: translateZ(1em) translateX(100%) rotate3d(0, 1, 0, 0deg);
            }

            & > ol {
                &:nth-of-type(1) {
                    @include Rechthoek(var(--breedte-connector), var(--diepte-connector), var(--hoogte-connector));
                    
                    li {
                        background-color: var(--gray);
                    }
                }

                &:nth-of-type(2) {
                    @include Rechthoek(var(--breedte), var(--diepte2), var(--hoogte4));
                }
            }
        }

        &:nth-of-type(5) {
            @include Slider(bottom, 0);

            flex-direction: column-reverse;
            transform: translateZ(calc(var(--diepte3) - var(--diepte)))
                translateY(calc(-100% - var(--hoogte-connector2))) rotate3d(1, 0, 0, -180deg);
            transition: .5s ease-in-out;

            &.open {
                transform: translateZ(0) translateY(-100%) rotate3d(1, 0, 0, -15deg);
            }

            & > ol {
                &:nth-of-type(1) {
                    @include Rechthoek(var(--breedte-connector2), var(--diepte-connector2), var(--hoogte-connector2));
                    bottom: 0.15em;

                    li {
                        background-color: var(--gray);
                    }
                }

                &:nth-of-type(2) {
                    @include Rechthoek(var(--breedte), var(--diepte), var(--hoogte2));
                    bottom: 0.75em;
                }
            }
        }
    }
}
