article>section:nth-of-type(4) {
    position: absolute;
    display: flex;
    align-items: center;
    top: var(--hoogte2);
    transform: translateZ(.983em) translateX(100%) rotate3d(0, 1, 0, 0deg);
    transition: .75s;
    transform-origin: left;

    &.open {
        transform: translateZ(.983em) translateX(calc(100% + .85em)) rotate3d(0, 1, 0, -180deg);
    }

    ol {
        height: var(--hoogte4);
        width: var(--breedte);

        &>li {
            position: absolute;

            &:nth-of-type(1),
            &:nth-of-type(3) {
                height: var(--hoogte4);
                width: var(--breedte);
            }

            &:nth-of-type(2),
            &:nth-of-type(4) {
                height: var(--diepte2);
                width: var(--breedte);
            }

            &:nth-of-type(5),
            &:nth-of-type(6) {
                height: var(--hoogte4);
                width: var(--diepte2);
            }

            &:nth-of-type(1) {
                transform: rotateY(0deg) translateZ(calc(var(--diepte2) / 2));
                padding: 1.25em;
            }

            &:nth-of-type(2) {
                transform: rotateX(90deg) translateZ(calc(var(--diepte2) / 2));
            }

            &:nth-of-type(3) {
                transform: rotateY(180deg) translateZ(calc(var(--diepte2) / 2));
            }

            &:nth-of-type(4) {
                transform: rotateX(-90deg) translateZ(calc(var(--hoogte4) - (var(--diepte2) / 2)));
            }

            &:nth-of-type(5) {
                transform: rotateY(90deg) translateZ(calc(var(--diepte2) / -2));
            }

            &:nth-of-type(6) {
                transform: rotateY(90deg) translateZ(calc(var(--breedte) - (var(--diepte2) / 2)));
            }
        }
    }
}