@import "../util/mixins";

article > section:nth-of-type(2) > ol > li:nth-of-type(1) section:nth-of-type(1) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    & > div:nth-of-type(1) {
        position: relative;
        width: 3.75em;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        z-index: -1;

        &::before,
        &::after {
            @include Dark_BG_Shadow(true);
        }

        &::before {
            width: 100%;
            aspect-ratio: 3/1;
        }

        &::after {
            aspect-ratio: 1/3;
            height: 100%;
        }

        ol {
            position: relative;
            width: 3.625em;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            transition: .35s;

            &.left {
                transform: perspective(5em) rotateY(-5deg);
            }

            &.up {
                transform: perspective(5em) rotateX(5deg);
            }

            &.right {
                transform: perspective(5em) rotateY(5deg);
            }

            &.down {
                transform: perspective(5em) rotateX(-5deg);
            }

            li {
                position: absolute;
                width: calc(3.75em / 3);
                aspect-ratio: 1/1;
                display: grid;
                place-items: center;

                &:nth-of-type(1) {
                    justify-self: start;

                    button {
                        border-width: 0.125em 0 0.125em 0.125em;
                    }
                }

                &:nth-of-type(2) {
                    align-self: start;

                    button {
                        border-width: 0.125em 0.125em 0 0.125em;
                    }
                }

                &:nth-of-type(3) {
                    justify-self: end;

                    button {
                        border-width: 0.125em 0.125em 0.125em 0;
                    }
                }

                &:nth-of-type(4) {
                    align-self: end;

                    button {
                        border-width: 0 0.125em 0.125em 0.125em;
                    }
                }

                &:nth-of-type(5) {
                    button {
                        border-width: 0;
                        z-index: 0;
                        box-shadow: var(--inset-dark-shadow-big);
                    }
                }

                button {
                    @include Gray_Button(false, false);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
            }
        }
    }
}
