@import "../util/mixins";

article > section:nth-of-type(1) ol:nth-of-type(1) li:nth-of-type(1),
article > section:nth-of-type(5) ol:nth-of-type(2) li:nth-of-type(1) {
    padding: 2.5em;

    &::before,
    &::after {
        @include Gray_Button(true, false);

        content: "";
        position: absolute;
        width: 1.25em;
        aspect-ratio: 1/2;
        bottom: 2.5em;
    }

    &::before {
        left: calc((2.5em - 1.25em) / 2);
    }

    &::after {
        right: calc((2.5em - 1.25em) / 2);
    }
}

article > section:nth-of-type(5) ol:nth-of-type(2) li:nth-of-type(1) {
    &::before {
        top: 2.5em;
    }
    &::after {
        top: 2.5em;
    }
}
